* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

b,
h1,
h2,
h3,
h4,
h5,
h6,
optgroup,
strong .h1 {
    font-weight: 800;
}

.h1 {
    margin: 0;
    font-size: 2.8rem;
    font-weight: 800;
    white-space: nowrap;
}

.netflix-sans-font-loaded {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

body {
    background: black;
    color: white;

}

.header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0)), url(https://assets.nflxext.com/ffe/siteui/vlv3/826348c2-cdcb-42a0-bc11-a788478ba5a2/f7d17126-0ace-415d-bf4d-ba77b8bb628a/PS-en-20240729-POP_SIGNUP_TWO_WEEKS-perspective_WEB_ebd29469-b126-45fa-9931-7b63798f2d7e_small.jpg);
    

}


nav {
    display: flex;
    align-items: ri;
    justify-content: space-between;
    padding: 10px 50px;
}

.logo {
    width: 150px;

}

nav .lang button {
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}


.lang button {

    display: inline-flex;
    align-items: center;
    background: transparent;
    color: white;
    border: 1px solid #fff;
    padding: 7px 10px;
    line-height: 1.25rem;
    padding-top: 0.375rem;
    padding-right: calc(2.25rem + 0rem);
    padding-bottom: 0.375rem;


}

.lang img {
    width: 10px;
    margin-left: 10px;
}

.lang option {
    color: initial;
    background: initial;
    background-color: white;
}


.header_content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
   

}

.footer_content {

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header_content h1 {

    line-height: 70px;
    max-width: 650px;
    font-size: 3rem;
    font-weight: 900;
}

.header_content h3 {
    font-weight: 400;
    margin-bottom: 20px;
}

.email-add {
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
    margin-left: 10%;
}

.email-add input {
    padding: 1.5rem 1rem 0.5rem;
    flex: 2;
    outline: 0;
    margin-left: 20px;
    width: 40px;
    background: rgba(22, 22, 22, 0.7);
    border-radius: 0.25rem;
    border-width: 0.0625rem;
    border-color: rgba(128, 128, 128, 0.7)
}

.email-add button {
    background: #db0001;
    color: white;
    border: 0;
    outline: 0;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}



/* edit video1 */
.default-ltr-cache-1yz1b0z2 {
    width: 100%;
    height: 0.5rem;
    position: absolute;
    bottom: -0.5rem;
    /* background-color: rgb(35, 35, 35); */
}

.default-ltr-cache-7cljuy2 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 0;
    z-index: 1;
}

.default-ltr-cache-bjn8wh2 {
    position: relative;
}

.default-ltr-cache-m5f3qu2 {
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 55%;
    max-height: 50%;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.default-ltr-cache-7cljuy2 .e9eyrqp3 {

    width: 50%;
    left: 10%;
    position: relative;

}



/* edit video2 */

.default-ltr-cache-7cljuy {
    padding: 0;
    z-index: 1;
}

.default-ltr-cache-bjn8wh {
    position: relative;
}

.default-ltr-cache-m5f3qu {
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 70%;
    max-height: 54%;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.default-ltr-cache-tmevzf .text_col .coi-md-12 {
    width: 40%;
    left: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

}


.TVText {

    font-size: 2rem;
    background-color: black;
    border-top: 6px solid #333;
}



.row {
    display: flex;
    width: 85%;
    padding: 100px 0%;
    margin-left: 10%;
    align-items: center;
    justify-content: space-evenly;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
}

.row2 {
    display: flex;
    width: 85%;
    padding: 5px 0%;
    align-items: center;
    justify-content: space-evenly;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
}



.div1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid #000;
    padding: 10px;


}

.default-ltr-cache-1626rqb {
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 63%;
    max-height: 47%;
    top: 34%;
    left: 50%;
}

.ico33n {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    margin-left: auto;
}

.div1 .col3 {

    flex-basis: 50%;
    flex-grow: 1;
    margin-bottom: 20px;

}

/* TEXT2 */
.default-ltr-cache-vgp0nn {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    padding: 0;
    z-index: 1;
}

.default-ltr-cache-bjn8wh {
    position: relative;
}

.default-ltr-cache-tmevzf .text_col h2 {
    margin-left: 20%;
}

.default-ltr-cache-ogx8b3.text_col h2 {
    margin-left: 0%;
    margin-top: -30%;
    margin-right: 10%;


}


.default-ltr-cache-xfttou {
    overflow: hidden;
    position: absolute;
    left: 80%;
    bottom: 10%;
    transform: translateX(-50%);
    margin: 0 auto;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    width: 60%;
    min-width: 15rem;
    padding: 1rem 1rem;
    border: 2px solid rgba(128, 128, 128, 0.7);
    box-shadow: 0 0 2em 0 rgb(0, 0, 0);
    border-radius: 0.75rem;
    z-index: 1;
}

.default-ltr-cache-1cn8kex {
    margin: 0 1rem 0 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.default-ltr-cache-1t1z3a4 {
    height: 3rem;
}

.default-ltr-cache-tcf860 {
    text-align: left;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0.3rem 0;
}

.default-ltr-cache-162uqtg {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.875rem;
}

.default-ltr-cache-44ib4m {
    font-size: 0.75rem;
    font-weight: 400;
    color: #0071eb;
}

.default-ltr-cache-1q4up1i {
    width: 3rem;
    height: 3rem;
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: -2px;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    background-size: 100%;
    content: '';
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    flex-shrink: 0;
}





/* text h1 p  */
.default-ltr-cache-tmevzf {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 0;
    z-index: 1;
    width: 100%;
}

.default-ltr-cache-10i4ild p {
    font-weight: 400;
    margin: 0;
    font-size: 1.125rem;
    margin-left: 20%;
    margin-right: 14%;
}

.default-ltr-cache-10i4ild2 {
    font-weight: 400;
    margin: 0;
    font-size: 1.5rem;
    margin-left: 40%;
    margin-right: 14%;

}

.default-ltr-cache-tmevzf .text_col .coi-md-12 h2 {
    margin-left: 20%;

}

.default-ltr-cache-jpuyb8 h2 {
    margin-left: 20%;
}

.default-ltr-cache-10i4ild {
    padding: 5%;
    font-size: 1.7rem;
    font-weight: 400;
    margin-left: -5%;
}

.default-ltr-cache-pv2edp {
    margin: auto;
    max-width: calc(100% - 3rem);
}


.default-ltr-cache-jpuyb8 .e9eyrqp8 {
    margin-left: 50%;
    margin-top: -30%;
}


.default-ltr-cache-1d3w5wq {
    width: 90%;
    margin-left: 5%;
}

.default-ltr-cache-1d3w5wq5 {
    width: 190%;
    margin-left: 5%;
}


.default-ltr-cache-1d3w5wq2 {
    width: 140%;
    margin-left: 10%;
}







.Questions {
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
    background-color: black;
    border-top: 6px solid #333;
    padding: 80px;
}

.Questions h2 {
    font-weight: 900;
    font-size: 40px;
}

.accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;

}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 1.125rem;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

.accordion label::after {
    content: '+' !important;
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;

}

.accordion input[type="radio"]:checked+label+.content {
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked+label ::after {
    transform: rotate(135deg);
}

svg {
    margin-right: 10%;
}



.ea3diy34 .default-ltr-cache-uzkmr2 .ema>input {
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    padding: 1.5rem 1rem 0.5rem;
}


.default-ltr-cache-uzkmr2 .ema>input {
    color: inherit;
    filter: opacity(0%);
}

.default-ltr-cache-uzkmr2 .ema>input {
    min-height: 16px;
    min-width: 16px;
}

.default-ltr-cache-1ypj6h8 {
    margin-top: 2.85rem;
    background-color: black;
}

.default-ltr-cache-1ypj6h82 {
    margin-top: 0rem;

}

.default-ltr-cache-inkrn {
    text-align: center;
    box-sizing: border-box;
    max-width: 61.5rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    content: '1';
}

.default-ltr-cache-inkrn>form {
    display: flex;
    flex-direction: column;
}

.default-ltr-cache-1arr3vy {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

.default-ltr-cache-1jbflut {
    text-align: left;
    position: relative;
    margin: 1rem auto 0;
    width: 100%;
    max-width: 36.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.default-ltr-cache-1jbflut>div {
    width: 100%;
}

.default-ltr-cache-rfctl2 .ea3diy32 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
    left: 1rem;
    right: 1rem;
    top: 0.75rem;
}

.default-ltr-cache-rfctl2 .ea3diy32 {
    position: absolute;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    transition-property: top, font-size, line-height;
    transition-duration: 250ms;
    pointer-events: none;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
}

.default-ltr-cache-rfctl2 .ema {
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    color: rgb(255, 255, 255);
}

.default-ltr-cache-rfctl2 .ema {
    fill: currentColor;
    min-width: 12.5rem;
}

.default-ltr-cache-rfctl2 .ema {
    padding: 0;
}

.default-ltr-cache-rfctl2 .ema>input {
    font-size: 1rem;
    line-height: 1.5;
    width: 60%;
    padding-top: 1.25rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    background: rgba(22, 22, 22, 0.7);
    border-radius: 0.25rem;
    border-width: 0.0625rem;
    border-color: rgba(128, 128, 128, 0.7);
}

.default-ltr-cache-rfctl2 .ema>input {
    color: blue;
    -webkit-filter: opacity(0%);
    filter: opacity(90%);
}

.default-ltr-cache-rfctl2 input>.ea3diy33 {
    border-style: solid;
}

.default-ltr-cache-emv211 {
    position: absolute;
}

.default-ltr-cache-1jbflut button {
    margin-left: 50%;
    margin-top: -8%;
}

.default-ltr-cache-1qg25n6 {
    display: inline-block;
    height: 1.5rem;
}

.qdefault-ltr-cache-1qg25n6>svg {
    width: 1.5rem;
    height: inherit;
    margin-left: 0.5rem;
}

svg:not(:root) {
    overflow: hidden;
}

.default-ltr-cache-1eb1dj0 {

    align-items: center;
    display: inline-flex;
    user-select: none;
    border: 0;
    cursor: pointer;
    fill: currentColor;
    position: relative;
    font-size: 1.125rem;
    font-weight: 500;
    min-height: 3rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
}

.default-ltr-cache-ogx8b3 {
    margin-left: 20%;
    margin-right: 10%;
}

.default-ltr-cache-1jbflut[data-issplitform='false'] button {
    flex: 0 0 auto;
    margin-top: 0;
    margin-left: 0.5rem;
}


.footer {
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    background-color: black;
    color: rgba(255, 255, 255, 0.7);
}

.footer h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    color: white;
}


.footer .col {

    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;

}

.footer a {
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: underline;
}




.footer .row {
    align-items: flex-start;
    padding: 10px 0;
}


.lang {
    min-width: auto;
    width: auto;
    line-height: 1.25rem;


}

.lang select {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: calc(0.75rem + 1rem + 0.5rem);
    background: rgba(22, 22, 22, 0.7);
    border-radius: 0.25rem;
    border-width: 0.0625rem;
    padding-right: calc(0.75rem + 0rem);
    border-color: rgba(128, 128, 128, 0.7);
    color: white;
}

.copyright {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: rgba(255, 255, 255, 0.7);

}


@media only screen and (max-width: 600px) {
    .logo {
        width: 100px;
    }
    
    nav .lang  {
        padding: 4px 8px;
    }

}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .header .TVText .Questions footer {
      width: 100%;
    }
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .TVText .header .Questions footer {
      width: 80%;
      padding: 0;
    }
    .header {
      width: 100%;
    }
  }

