*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

b, h1, h2, h3, h4, h5, h6, optgroup, strong .h1 {
    font-weight: 500;
}

.h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
    white-space: nowrap;
}

.netflix-sans-font-loaded {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

body{
    background: black;
    color: white; 

}

.header{
    width: 100%;
    height: 100vh;
    background-image:url('assets/images/im.png');
    background-size: cover;
    background-position: center ;
    padding: 10px 8%;
    position: relative;
    
}


nav{
    display: flex;
    align-items: ri;
    justify-content: space-between;
    padding: 10px 0;
}

.logo{
    width: 150px;
  
}

nav .lang button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}


.lang button{

    display: inline-flex;
    align-items: center;
    background: transparent;
    color: white;
    border: 1px solid #fff;
    padding: 7px 10px;
    line-height: 1.25rem;
    padding-top: 0.375rem;
    padding-right: calc(2.25rem + 0rem);
    padding-bottom: 0.375rem;


}

.lang  img{
    width: 10px;
    margin-left: 10px;
}

.lang  option{
    color: initial;
    background: initial;
}









.header_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    margin-top: 100px;
  
}

.footer_content{

    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
    

}

.header_content h1{

    line-height: 70px;
    
    max-width: 650px;
    font-size: 3rem;
    font-weight: 900;
}

.header_content h3{
    font-weight: 400;
    margin-bottom: 20px;
}

.email-add{
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
    margin-left: 10%;
}

.email-add input{
    padding: 1.5rem 1rem 0.5rem ;
    flex: 2;
    outline: 0;
    margin-left: 20px;
    width: 40px;
    background: rgba(22, 22, 22, 0.7);
    border-radius: 0.25rem;
    border-width: 0.0625rem;
    border-color: rgba(128, 128, 128, 0.7)
    
}

.email-add button{
    background: #db0001;
    color: white;
    border: 0;
    outline: 0;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}



/* edit video1 */
.default-ltr-cache-1yz1b0z2 {
    width: 100%;
    height: 0.5rem;
    position: absolute;
    bottom: -0.5rem;
    background-color: rgb(35, 35, 35);
}

.default-ltr-cache-7cljuy2 {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 0;
    z-index: 1;
}

.default-ltr-cache-bjn8wh2 {
    position: relative;
}

.default-ltr-cache-m5f3qu2 {
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 60%;
    max-height: 50%;
    position: absolute;
    top: 34%;
    left: 49.5%;
    transform: translate(-50%, -50%);
}


.default-ltr-cache-7cljuy2 .e9eyrqp3{
 
 width: 50%;
left: 10%;
position: relative;

}













/* edit video2 */
.default-ltr-cache-1yz1b0z {
    width: 100%;
    height: 0.5rem;
    position: absolute;
    bottom: -0.5rem;
    background-color: rgb(35, 35, 35);
}

.default-ltr-cache-7cljuy {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 0;
    z-index: 1;
}

.default-ltr-cache-bjn8wh {
    position: relative;
}

.default-ltr-cache-m5f3qu {
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* .default-ltr-cache-tmevzf .text_col h2{
   align-items: center;
} */

.default-ltr-cache-tmevzf .text_col .coi-md-12{
    width: 40%;
    left: 4%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: center; */
    position: relative;

}


.TVText{
    
    font-size: 22px;
    background-color: black;
    border-top: 6px solid #333 ;
}



.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0%;
}

.div1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 5px solid #000;
    padding: 10px;
    
 
}
.default-ltr-cache-1626rqb{
    z-index: -1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 63%;
    max-height: 47%;
    top: 34%;
    left: 50%;
}


.div2{
    flex: 1;
    margin-right: auto; 
}


.div4 {
    flex: 2;
}
.div5{
    flex: 3;
}

.imm4 {
    width: 100px;
 
}


.strang { 
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.875rem;
    
}

.dow {
    font-size: 0.75rem;
    font-weight: 400;
    color: #0071eb;
}

.ico33n {
    width: 100px; 
    height: 100px; 
    background-color: #ccc; 
    margin-left: auto;
}

.div1 .col3{

    flex-basis: 50%;
    flex-grow: 1;
    margin-bottom: 20px;

}

/* Download your shows to watch offline */
.default-ltr-cache-vgp0nn {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    padding: 0;
    z-index: 1;
}

.default-ltr-cache-bjn8wh {
    position: relative;
}

.default-ltr-cache-ogx8b3 h2{
    margin-left: 50%;
    margin-top: -20%;

}

img {
    border: 0;
}

.default-ltr-cache-xfttou {
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    margin: 0 auto;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    width: 60%;
    min-width: 15rem;
    padding: 0.25rem 0.65rem;
    border: 2px solid rgba(128, 128, 128, 0.7);
    box-shadow: 0 0 2em 0 rgb(0, 0, 0);
    border-radius: 0.75rem;
    z-index: 1;
}
.default-ltr-cache-1cn8kex {
    margin: 0 1rem 0 0;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.default-ltr-cache-1t1z3a4 {
    height: 3rem;
}
img {
    border: 0;
}

.default-ltr-cache-tcf860 {
    text-align: left;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0.3rem 0;
}

.default-ltr-cache-162uqtg {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 0.875rem;
}

.default-ltr-cache-44ib4m {
    font-size: 0.75rem;
    font-weight: 400;
    color: #0071eb;
}

.default-ltr-cache-1q4up1i {
    width: 3rem;
    height: 3rem;
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: -2px;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    background-size: 100%;
    content: '';
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    flex-shrink: 0;
}





/* text h1 p  */

.default-ltr-cache-tmevzf {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 0;
    z-index: 1;
    width: 100%;
}

.default-ltr-cache-10i4ild {
    font-weight: 400;
    margin: 0;
    font-size: 1.5rem;
    margin-left: 20%;
    margin-right: 14%;
}

.default-ltr-cache-tmevzf .text_col .coi-md-12 h2{
    margin-left: 20%;

}

.default-ltr-cache-jpuyb8 .e9eyrqp8{
    margin-left: 20%;  
}

/*  */
/* 
.default-ltr-cache-jpuyb8 {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
} */

.default-ltr-cache-10i4ild {
    
    font-size: 1.125rem;
    font-weight: 400;
}

.default-ltr-cache-pv2edp {
    margin: auto;
    max-width: calc(100% - 3rem);
}

/* .default-ltr-cache-ogx8b3.e9eyrqp5 h2 {
    margin-left: 50%;
   
} */

.default-ltr-cache-jpuyb8 .e9eyrqp8{
    margin-left: 50%;
    margin-top: -30%;
}


.default-ltr-cache-1d3w5wq {
    width: 70%;
    margin-left: 20%;
}





.Questions{
     padding: 10px 12%;
     text-align: center;
     font-size: 18px;
     background-color: black;
     border-top: 6px solid #333 ;
}

.Questions h2{
    font-weight:900;
    font-size: 40px;
}

.accordion{
    margin: 60px auto;
    width: 100% ;
    max-width: 750px;
    
}

.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 1.125rem;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

.accordion label::after{
    content: '+' !important;
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s ;
}

input[type="radio"]{
    display: none;
}

.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;

}

.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label ::after{
    transform: rotate(135deg);
}

svg{
    margin-right: 10%;
}



/* footer */
/* .Questions.email-add{
   max-width: 600px;
   margin: 20px auto 60px;
  
}

.Questions small{
    font-size: 13px;
} */
ea3diy34
.default-ltr-cache-uzkmr2 .ema > input {
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    padding: 1.5rem 1rem 0.5rem;
}


.default-ltr-cache-uzkmr2 .ema > input {
    color: inherit;
    filter: opacity(0%);
}

.default-ltr-cache-uzkmr2 .ema > input {
    min-height: 16px;
    min-width: 16px;
}

.default-ltr-cache-1ypj6h8 {
    margin-top: 2.85rem;
    background-color: black;
}

.default-ltr-cache-1ypj6h82 {
    margin-top: 2.85rem;
  
}

.default-ltr-cache-inkrn {
    text-align: center;
    box-sizing: border-box;
    max-width: 61.5rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    content: '1';
}

.default-ltr-cache-inkrn>form {
    display: flex;
    flex-direction: column;
}

.default-ltr-cache-1arr3vy {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

.default-ltr-cache-1jbflut {
    text-align: left;
    position: relative;
    margin: 1rem auto 0;
    width: 100%;
    max-width: 36.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.default-ltr-cache-1jbflut>div {
    width: 100%;
}

.default-ltr-cache-rfctl2 .ea3diy32 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
    left: 1rem;
    right: 1rem;
    top: 0.75rem;
}

.default-ltr-cache-rfctl2 .ea3diy32 {
    position: absolute;
    z-index: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    transition-property: top, font-size, line-height;
    transition-duration: 250ms;
    pointer-events: none;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
}

.default-ltr-cache-rfctl2 .ema {
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    color: rgb(255, 255, 255);
}
.default-ltr-cache-rfctl2 .ema {
    fill: currentColor;
    min-width: 12.5rem;
}
.default-ltr-cache-rfctl2 .ema {
    padding: 0;
}

.default-ltr-cache-rfctl2 .ema>input {
    font-size: 1rem;
    line-height: 1.5;
    width: 60%;
    padding-top: 1.25rem;
    padding-right: 1rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    background: rgba(22, 22, 22, 0.7);
    border-radius: 0.25rem;
    border-width: 0.0625rem;
    border-color: rgba(128, 128, 128, 0.7);
}
.default-ltr-cache-rfctl2 .ema>input {
    color:blue;
    -webkit-filter: opacity(0%);
    filter: opacity(90%);
}

.default-ltr-cache-rfctl2 input >.ea3diy33 {
    border-style: solid;
}

.default-ltr-cache-emv211 {
    color: transparent;
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: 1px solid black;
    user-select: none;
}

.default-ltr-cache-1jbflut button {
    margin-left: 50%;
    margin-top: -8%;
}

.default-ltr-cache-1qg25n6 {
    display: inline-block;
    height: 1.5rem;
}

.qdefault-ltr-cache-1qg25n6 >svg {
    width: 1.5rem;
    height: inherit;
    margin-left: 0.5rem;
}
svg:not(:root) {
    overflow: hidden;
}

.default-ltr-cache-1eb1dj0 {
    appearance: none;
    font: inherit;
    margin: 0;
    text-decoration: none;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    user-select: none;
    border: 0;
    cursor: pointer;
    fill: currentColor;
    position: relative;
    transition-duration: 250ms;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.9, 0, 0.51, 1);
    vertical-align: text-top;
    width: auto;
    font-size: 1.125rem;
    font-weight: 500;
    min-height: 3rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
}


.default-ltr-cache-1jbflut[data-issplitform='false'] button {
    flex: 0 0 auto;
    margin-top: 0;
    margin-left: 0.5rem;
}


.footer{
    padding: 50px 15% 10px ;
    border-top: 6px solid #333 ;
    background-color: black;
    color: rgba(255, 255, 255, 0.7);
}

.footer h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    color: white;
}


.footer .col{

    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;

}

.footer  a{
    display: block;
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration:underline; 
}




.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}


.lang{
    min-width: auto;
    width: auto;
    line-height: 1.25rem;
    
   
}

.lang select{
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: calc(0.75rem + 1rem + 0.5rem);
    background: rgba(22, 22, 22, 0.7);
    border-radius: 0.25rem;
    border-width: 0.0625rem;
    padding-right: calc(0.75rem + 0rem);
    border-color: rgba(128, 128, 128, 0.7);
    color: white;
}

.copyright{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.7);

}


/* @media only screen and (max-width: 600px){
    .logo{
        width: 100px;
    }

    nav bottom{
        padding: 5px 10px;
    }

    nav .lanbutton{
        padding: 4px 8px;
    }

}
@media screen and (min-width: 960px) {
    .default-ltr-cache-ogx8b32 {
        text-align: left;
        padding-left: 0.375rem;
    }
} */